@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full text-slate-700;
  }
}

@layer components {
  .btn {
    @apply px-3 py-2 rounded;
  }

  .btn-primary {
    @apply bg-primary-500
    text-white
    font-semibold
    border
    border-primary-600
    hover:border-primary-500
    hover:bg-primary-400
    transition-all;
  }

  .btn-neutral {
    @apply bg-neutral-300 text-primary-900 font-semibold border border-neutral-400 hover:bg-neutral-400 transition-all;
  }

  .github-button {
    @apply bg-[#1c2128]
    hover:bg-[#22272e]
    text-[#c5d1de]
    transition-all;
  }
}

@layer utilities {
  .title {
    @apply text-2xl font-bold;
  }

  .subtitle {
    @apply text-slate-500;
  }

  .card {
    @apply bg-slate-100 rounded py-4 px-6  border border-slate-200;
  }

  .modal {
    @apply max-w-md mx-auto;
  }

  .nav-link {
    @apply block w-full px-3 py-2 bg-slate-200 text-left border border-slate-300 rounded hover:bg-slate-300 transition-all;
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #a3a3a3 #a3a3a3 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #395999 #395999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #a3a3a3 #a3a3a3 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
